<!DOCTYPE html>
<html>

<head>
    <title>Data Analytics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Virat Kohli Century Analysis</h1>
    <!-- <img src="{{ url_for('static', filename='ground_type.png') }}" alt="Sample Graph"> -->


    <div class="container">






        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the status.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit1">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>










        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the matches won.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit2">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>

















        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the innings of match.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit3">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>
















        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the type of ground.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit4">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>















        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the opposition teams.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit5">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>












        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the venue of match.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit6">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>



















        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the year-wise century pattern.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit7">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>














        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Observing the Batting Position.</p>
                </div>
                <div class="card-back">
                    <form method="POST" action="/submit7">
                        <button class="link-button">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">Go</span>
                        </button>
                    </form>
                </div>                
            </div>
        </div>





    </div>


</body>

</html>